@import "vars";

.top {
    margin: 10px;
    text-align: center;
}

.icon-pencil {
    position: absolute;
    right: -10px;
    bottom: 6px;
    background: $accentColor;
    padding: 7px;
    border-radius: 100%;
    font-size: 14px;
}

.imgWrap {
    position: relative;
    display: inline-block;
}

img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.card:not(.edit) {
    padding: 0;
}

.edit {
    overflow: hidden;
    input:not([hidden]) {
        display: block;
        margin-bottom: 10px;
    }
    button {
        float: right;
        margin-left: 10px;
    }
    .centered {
        display: block;
        float: none;
        width: 100%;
        margin: 0 0 10px;
    }
}

.icon-chevron-left {
    vertical-align: middle;
    display: inline-block;
}

.item {
    padding: 10px;
    position: relative;
    cursor: pointer;

    div {
        font-weight: bold;
    }

    .icon-chevron-left {
        position: absolute;
        right: 7px;
        transform: translateY(-50%) rotate(180deg);
        top: 50%;
    }

    &:not(:first-child) {
        border-top: 1px solid mix($backgroundColor, $foregroundColor, 90%);
    }
}

.links {
    margin-top: 35px;
    font-size: 12px;
    text-align: center;
    a {
        display: block;
    }
}

button.accent {
    margin: 0 auto;
    display: block;
}


#wallet:target {
    animation: highlight 1s ease;
    transform: translateX(20px);
}
@keyframes highlight {
    0% { border-left-color: red; }
    100% { border-left-color: white; }
}
