@import "vars";

$darkColor: mix($foregroundColor, $mainColor, 20%);
:host {
    display: block;
    width: 100%;
    height: 100%;
    background: $mainColor;
    position: absolute;
}

.title {
    color: $backgroundColor;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    img {
        cursor: pointer;
    }
}

.wrapper {
    display: block;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
}

button {
    width: 100%;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.or {
    text-align: center;
    margin-top: 10px;
    color: $backgroundColor;
}

.birthDate {
    margin-bottom: 10px;
}

.datePolyfill {
    margin-bottom: 15px;
}

.links {
    margin-top: 35px;
    font-size: 12px;
    text-align: center;
    color: $backgroundColor;
    a {
        display: block;
    }
}
.reserved {
    font-size: 10px;
    vertical-align: text-top;
}

a {
    color: $backgroundColor;
}

p {
    color: white;
    text-align: center;
}

.sub {
    margin-top: -10px;
    margin-bottom: 30px;
}
